html,
body,
#root,
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.loading-message {
    background-color: black;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-message > h1 {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}